body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-color: #0f132e;

}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eac195;
    width: 100%;
}

.navbar {
    display: flex;
    background-color: #0f132e;
    color: #eac195;
    align-items: center;
    width: auto;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    border: 1px solid #eac195;

}

.navbar li {
    list-style-type: none;
}

.navbar a {
    color: #eac195;
    text-decoration: none;
}

.navbar img {
    width: 150px;
    height: 200px;
    border-radius: 100px;
}

.navbar nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    flex-direction: column;
}

#root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #19274e;
    color: #b49b85;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 1px solid #eac195;
}

h3 {
    border-bottom: 1px solid #b49b85;
    width: 100%;
}

.sobre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.resumo {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.objetivos {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.formacao {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.experiencias {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.idiomas {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.habilidades {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.habilidades ul li {
    list-style-type: square;
}

.certificacoes {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.projecao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    color: #b49b85;
}

.projecao article {
    padding: 20px;
}

.projecao a {
    text-decoration: none;
    color: #b37137;
}